nav{
    background-color: rgb(61, 190, 249);
    /* text-align: center; */
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 20px;
}

.Container{
    margin: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

#ITF{
    font-size: 40px;
    padding-bottom: 27px;
}

textarea{
    height: 200px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.bank-system{
    display: flex;
}
.Accont-overview{

    flex: 1;
}
.financial-tools{
    flex: 1;
}

.head-ao{
    font-size: 23px;
}

#Acc-overview{
    font-size: 27px;
}

#finan{
    font-size: 27px;
}

.flex{
    display: flex;
    gap: 10px;
}

.curr-con{
    
}